<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="logdebug" value="true"/>
    <add key="logerror" value="true"/>
    <add key="logwarning" value="true"/>
    <add key="loginfo" value="true"/>
    <add key="logAppendDate" value="true"/>
    <add key="FromEmailGroup" value="x005153@footlocker.com"/>
    <add key="ToEmailGroup" value="v008354@footlocker.com,corey.cook@footlocker.com"/>
    <add key="ToCCEmailGroup" value="v007641@footlocker.com"></add>
    <add key="Region" value="NA"/>
    <add key="Server" value="ordcrlprdweb05"/>
    <add key="FileWatcherSourceFolder" value="\log\CriticalProcessLogs\"/>
    <add key="FileWatcherLog" value="C:\Log\FileWatcher\"/>
	<add key="IntervalInMins" value="3"/>
	<add key="FileWatcherApplicationName" value="P44 Service Log: "/>    
	<add key="EMailSubject4Alert" value=""/>  
	<add key="EMailSubject4Error" value=""/>    
	<add key="EMailSubject4FileCreateEvent" value="File Watcher Service : File Created Alert !!"/>
	<add key="EMailSubject4FileRenameEvent" value="File Watcher Service : File Renamed Alert !!"/>  
	<add key="EMailSubject4FileDeleteEvent" value="File Watcher Service : File Deleted Alert !!"/>    
	<add key="EMailSubject4FileChangedEvent" value="File Watcher Service : File Content Changed Alert !!"/>      
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
